*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  font-family: 'quicksand', sans-serif;
}

.home {
  width: 55px;
  height: 55px;
  transition: transform 0.2s; /* Smooth transition for the scale effect */
}

.main-text {
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  font-size: 50px;
  margin-left: 100px; /* Adjust the distance from the left side */
}

.flashing-underscore {
  font-size: 2em;
  font-weight: bold;
  animation: flicker 0.5s infinite;
}

.glitchtest-site {
  display: inline-block;
  white-space: nowrap;
}

.rounded {
  border-radius: 9999px;
}

.scale-110:hover {
  transform: scale(1.1); /* Apply the scale effect on hover */
}

.cursor-pointer {
  cursor: pointer;
}

.home-button {
  position: fixed;
  top: 20px;
  left: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  overflow-x: hidden; /* Hide horizontal overflow */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 20px;
  right: 20px;
}

.nav-links li {
  /* Set a fixed width and height for each link */
  height: 55px;
  display: flex;
  flex-grow: 1;
  transition: transform 0.2s; /* Smooth transition for the scale effect */
}

.nav-links li a {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  text-align: center; /* Optional: Center the text horizontally for older browsers */
  padding: 0.5rem 0.5rem;
  background-color: #575757; /* Replace with your desired background color */
  color: #fff; /* Replace with your desired text color */
  border-radius: 10px; /* This will give you 4 rounded corners */
  overflow: hidden; /* Hide any content that overflows the container */
}

.nav-links li a img {
  width: 32px;
  height: 32px;
}

.nav-links li a span {
  display: inline-flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
  font-family: quicksand;
}

@keyframes flicker {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
